<div>
  <img src='/images/beer.png' alt='large beer' />
  <div id='button-container'>
    <a href='' class='button'>Check the Beers!</a>
    <a href='' class='button'>Check a Random Beer!</a>
  </div>
</div>